/* main */
html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	margin: 0;
	padding: 0;
}

div.nav {
	background: rgba(199,199,208,0.9);
	box-sizing: border-box;
	float: left;
	height: 100%;
	width: 300px;
	position: relative;
	top: 0px;
	left: 0px;
}

div.content {
	background: rgba(218,218,245,0.9);
	box-sizing: border-box;
	overflow: hidden;
	height: 100%;
	position: static;
}

div.myInfo {
	background: rgba(0,0,0,0.58);
	box-sizing: border-box;
	float: left;
	font-size: 11px;
	color: white;
	padding-left: 7px;
	padding-top: 5px;
	position: absolute;
	bottom: 0px;
	height: 56px;
	width: 100%;
}

/* site navigation */
div.siteNav {
	padding: 7px;
}
div.siteNavSub {
	width : 100%;
	height: 26px;
	overflow: hidden;
	transition-duration: 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
}
div.siteNavSeparator {
	width : 100%;
	height: 20px;
	color: #9dadc7;
	font-size: 16px;
	font-style: italic;
	text-align: right;
}

a.siteNavLink {
	position: relative;
	color: rgb(44, 73, 120);
	display: block;
	border-radius: 4px;
	padding: 0px;
	height: 24px;
	margin: 2px;
	transition-duration: 0.6s
}
span.siteNavText {
	display: inline-block;
	font-size: 18px;
	height: 20px;
	padding-left: 5px;
	position: absolute;
	top: 50%;
	margin-top: -10px;
	margin-left: 22px;
}
span.siteNavTextSub {
	display: inline-block;
	font-size: 14px;
	height: 20px;
	padding-left: 5px;
	position: absolute;
	top: 50%;
	margin-top: -9px;
	margin-left: 30px;
}
img.siteNavIcon {
	display: inline-block;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 50%;
	margin-top: -10px;
}

/* contact details */
img.siteNavIconInfo {
	display: inline-block;
	width: 20px;
	height: 20px;
	border: solid;
	border-width: 1px;
	border-radius: 4px;
	border-color: white;
	transition-duration: 0.6s;
}
a.siteNavLink:hover {
	background-color: rgba(0,0,0,0.58);
	color: white;
}
img.siteNavIconInfo:hover {
	background-color: rgb(44, 73, 120);
}

img.imagePreview {
	width: 100%;
	height: 100%;
	float: left;
	transition-duration: 0.4s;
	overflow: hidden;
	opacity: 0.2;
}
img.imagePreview:hover {
	transform: scale(1.1);
	opacity: 0.7;
}

div.imagePreviewWrap {
	border: solid;
	border-width: 1px;
	border-radius: 6px;
	float: left;
	width:300px;
	height:200px;
	margin: 2px;
	overflow: hidden;
	text-align: center;
}
p.imagePreviewDescription {
	position: absolute;
	font-weight: bolder;
	user-select: none;
}

#notesFrame {
	border : none;
	height : 100%;
	width  : 100%;
}
